@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>University of Software Engineering</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to University of Software Engineering</h2>
        <p>
            University of Software Engineering is school where you learn software engineering. Students
            of the University have a passion for softwar development, web design, game developent, and any other
            disciplines of software engineering,
        </p>
    </div>
    <div class="col-md-4">
        <h2>Degrees offerd</h2>
        <p>
            We offer a varity of degrees not just Software Engineering degrees.
        </p>
        <ul> You can study
            <li>
                Math
            </li>
            <li>
                Computer Engineering
            </li>
            <li>
                Sciences
            </li>
            <li>
                English
            </li>
            <li>
                And much more!
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Alumni</h2>
        <p>
            We have had people like
        </p>
        <ul>
            You can study
            <li>
                Tony Stark
            </li>
            <li>
                Dennis Nedri
            </li>
            <li>
                Bruce Banner
            </li>
            <li>
                Peter Parker
            </li>
            <li>
                And much more!
            </li>
        </ul>
    </div>
</div>